beautifulsoup4==4.5.3
behave==1.2.5
dj-database-url==0.4.1
Django==1.10.4
gunicorn==19.6.0
mechanize==0.2.5
parse==1.6.6
parse-type==0.3.4
pexpect==4.2.1
psycopg2==2.6.2
ptyprocess==0.5.1
six==1.10.0
whitenoise==3.2
wsgi-intercept==1.4.1
